#btn_auth {
  font-size: 16px;
  margin: 1em;
  padding: 1em 3em;
  cursor: pointer;
  border: none;
  background-color: $color-primary;
  color: $color-btn-text;
  border-radius: 6px;
  transition: all 0.15s;

  &:hover {
    box-shadow: 0px 4px 6px -2px hsla(0, 0%, 0%, 0.05),
      0px 10px 15px -3px hsla(0, 0%, 0%, 0.1);
  }
}

@media (min-width: 400px) {
  #btn_auth {
    font-size: 24px;
  }
}

@media (min-width: 800px) {
  #btn_auth {
    font-size: 36px;
  }
}
