#btn_auth {
  font-size: 16px;
  margin: 1em;
  padding: 1em 3em;
  cursor: pointer;
  border: none;
  background-color: #ecfeff;
  border-radius: 6px;
  color: #052c43;
  transition: all 0.15s;

  &:not(:disabled):hover {
    background-color: #cffafe;
    color: hsl(220, 39%, 5%);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@media (min-width: 400px) {
  #btn_auth {
    font-size: 24px;
  }
}

@media (min-width: 800px) {
  #btn_auth {
    font-size: 36px;
  }
}
