#message-box {
  padding: 2em;
  margin: 16px;
  background-color: $color-bg-secondary;
  border-radius: 5px;
  min-height: 200px;
  min-width: 250px;
  max-width: 95vw;
  width: fit-content;
  opacity: 0;
  position: relative;

  &.active {
    opacity: 1;
  }

  > h2 {
    text-align: center;
    color: $color-headline;
  }

  > pre {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-text;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  > button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
    background-color: $color-bg;
    color: $color-headline;
    padding: 0.25em;
    border-radius: 5px;
    border: none;
    transition: 0.2s ease-in-out;
    box-shadow: $shadow-sm;

    &:hover {
      color: $color-primary;
    }
  }
}

@media (min-width: 400px) {
  #message-box {
    min-height: 270px;
    max-width: 400px;

    > pre {
      font-size: 16px;
    }
  }
}

@media (min-width: 800px) {
  #message-box {
    min-height: 300px;
    max-width: 500px;

    > pre {
      font-size: 20px;
    }
  }
}
