#message-box {
  padding: 2em;
  margin: 16px;
  background-color: $color-bg-secondary;
  border-radius: 5px;
  min-height: 200px;
  min-width: 250px;
  max-width: 95vw;
  width: fit-content;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  > h2 {
    text-align: center;
    color: $color-headline;
  }

  > pre {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-text;
  }
}

@media (min-width: 400px) {
  #message-box {
    min-height: 270px;
    max-width: 400px;

    > pre {
      font-size: 16px;
    }
  }
}

@media (min-width: 800px) {
  #message-box {
    min-height: 300px;
    max-width: 500px;

    > pre {
      font-size: 20px;
    }
  }
}
