#userCard {
  min-width: 250px;
  margin: 16px;
  padding: 1em 2em;
  background-color: $color-bg;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid $color-text;

  > img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  p {
    text-align: left;
  }

  #name {
    font-size: 20px;
    font-weight: bold;
    color: $color-headline;
  }

  #username,
  #date {
    font-size: 14px;
    color: $color-text;
  }

  #btn_logout {
    padding: 4px 8px;
    background-color: $color-primary;
    color: $color-btn-text;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
    transition: all .150s ease-out;

    &:hover {
      box-shadow: $shadow-lg;
    }
  }
}

@media (min-width: 400px) {
  #userCard {
    min-width: 400px;

    #name {
      font-size: 18px;
    }

    #username,
    #date {
      font-size: 14px;
    }
  }
}

@media (min-width: 800px) {
  #userCard {
    min-width: 500px;

    > img {
      width: 100px;
      height: 100px;
    }

    #name {
      font-size: 24px;
    }

    #username,
    #date {
      font-size: 16px;
    }
  }
}
