$color-bg: #fffffe;
$color-bg-secondary: #d8eefe;
$color-primary: #3da9fc;
$color-btn-text: #fffffe;
$color-headline: #094067;
$color-text: #5f6c7b;

$shadow-lg: 0px 4px 6px -2px hsla(0, 0%, 0%, 0.05),
  0px 10px 15px -3px hsla(0, 0%, 0%, 0.1);
